.header{
    display: flex-end;
    justify-content: space-evenly;
    border-bottom: 1px solid #f9f9f9;
    margin-left: 25%;
}
.header__logo {
    height: 40px;
}
.header__icon{
    padding: 20px;
}

.header_title{
    font-family: linotype-didot,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color:black;
    margin: .67em 0;
}