* {
    z-index: 2;
}
#minimalistintro .view {
    min-height: 100vh !important;
    height: unset !important;
  }

  .header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
}
.header__logo {
    height: 40px;
}
.header__icon{
    padding: 20px;
}
h1{
    font-family: linotype-didot,serif;
    font-weight: 320;
    font-style: normal;
    font-size: 5rem;
    color: white;
    opacity: 80%;
    letter-spacing: 1rem;
    padding-top:20%;


}

.firebaseUiContainer {
    margin-top: 42%;
}
